.bg-hei{
	background-color: #434343;
}
.bg-hui{
  background-color: #f5f2f2 !important;
}
.bg-dhui{
  background-color: #aaa !important;
}

.bg-fooder{
  background-color:#b5ab9f;
}
.bg-bai{
	background-color: #fff;
}
