.banner{
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	.swiper-slide{
		text-align: center;
		>a{
			display: block;
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 350px;
		}
	}
	img{
		height: 100%;
		width: auto;
		margin: 0 auto;
	}
	.swiper-button-prev,.swiper-button-next{
		width: 32px;
		height: 63px;
	}
	.swiper-button-prev{
		background: url(../../Images/left-arrow.png) center center no-repeat;
	}
	.swiper-button-next{
		background: url(../../Images/right-arrow.png) center center no-repeat;
	}
}
.column-tit{
	display: block;
	overflow: hidden;
	height: 47px;
	padding: 34px 0 12px 0;
	img{
		width: 100%;
		vertical-align: top;
	}
}