.banner{
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	.swiper-slide{
		text-align: center;
		>a{
			display: block;
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 350px;
		}
	}
	img{
		height: 100%;
		width: auto;
		margin: 0 auto;
	}
	.swiper-button-prev,.swiper-button-next{
		width: 32px;
		height: 63px;
	}
	.swiper-button-prev{
		background: url(../../Images/left-arrow.png) center center no-repeat;
	}
	.swiper-button-next{
		background: url(../../Images/right-arrow.png) center center no-repeat;
	}
}
.column-tit{
	display: block;
	overflow: hidden;
	height: 47px;
	padding: 34px 0 12px 0;
	img{
		width: 100%;
		vertical-align: top;
	}
}
.column-hotsale{
	display: block;
	overflow: hidden;
	li{
		display: block;
		overflow: hidden;
		width: 50%;
		height: 250px;
		.l-left;
		border: 1px solid #ddd;
		background-color: #fff;
		box-sizing: border-box;
		border-collapse:collapse;
		>a{
			display: block;
			padding: 15px;
			overflow: hidden;
		}
		.picbox{
			display: block;
			.l-left;
			width: 220px;
			height: 220px;
			img{
				width: 100%;
				vertical-align: top;
			}
		}
		.infobox{
			display: block;
			overflow: hidden;
			width: 270px;
			.l-right;
			margin-right: 10px;
			.tit{
				line-height: 24px;
				.font18;
				height: 48px;
				overflow : hidden;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
			    margin: 30px 0 10px 0;
			}
			.detail{
				.font12;
				color: #7D7D7D;
				line-height: 14px;
				overflow : hidden;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-line-clamp: 3;
			    -webkit-box-orient: vertical;
			    height: 42px;
			    margin-bottom: 34px;
			}
			.sec{
				.price{
					line-height: 18px;
				}
				.country{
					display: block;
					overflow: hidden;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					margin-right: 8px;
					img{
						width: 100%;
						vertical-align: top;
					}
				}
			}
		}
	}
	li:hover,li:active,li.active{
		border-color: #dfb15b;
	}
}
.column-newsale{
	display: block;
	height: 324px;
	.box-shadow;
	.bg-bai;
	border: 1px solid #ddd;
	box-sizing: border-box;
	.picbox{
		display: block;
		width: 524px;
		height: 324px;
		.l-left;
		overflow: hidden;
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	.infobox{
		display: block;
		width: 534px;
		height: 294px;
		padding: 15px;
		.l-left;
		overflow: hidden;
		.header{
			display: block;
			overflow: hidden;
			height: 32px;
			line-height: 32px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
			.country{
				>i.icon{
					margin-right: 8px;
				}
			}
		}
		.sec{
			display: block;
			overflow: hidden;
			padding: 12px 0;
			height: 164px;
			h3{
				height: 40px;
				.font24;
				line-height: 40px;
				overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			}
			.detail{
				.font16;
			    margin-top: 10px;
			    .col-dhui;
			}
		}
		.price{
			display: block;
			overflow: hidden;
			.pricesec{
				width: 340px;
				.pricenum{
					display: block;
					overflow: hidden;
					>span{
						display: block;
						overflow: hidden;
						margin-bottom: 10px;
					}
				}
				.discount{
					display: block;
					width: 60px;
					height: 28px;
					line-height: 28px;
					margin-left: 12px;
					border: 1px solid #ff0023;
					.col-red;
					.text-ac;
				}
			}
			.buybtn{
				display: block;
				overflow: hidden;
				>a{
					display: inline-block;
					padding: 12px 18px;
					overflow: hidden;
					.font24;
				}
			}
		}
	}
}
div:hover.column-newsale,div:active.column-newsale{
	border: 1px solid #dfb15b;
}
.prolist{
	display: block;
	margin-bottom: 12px;
}
.product{
	display: block;
	overflow: hidden;
	.prow{
		display: block;
		overflow: hidden;
		width: 1100px;
		margin-bottom: 6px;
		.probox{
			display: block;
			.bg-bai;
			padding: 16px;
			width: 268px;
			height: 352px;
			.l-left;
			margin-right: 6px;
			margin-bottom: 6px;
			border: 1px solid #fff;
			box-sizing: border-box;
			.pic{
				display: block;
				width: 100%;
				height: 234px;
				line-height: 234px;
				background-color: #aaa;
				.text-ac;
				position: relative;
				img{
					max-width: 100%;
					height: auto;
				}
				.sold-out{
					position: absolute;
					width: 100%;
					height: auto;
					top: 58px;
					.text-ac;
					img{
						max-width: 100%;
						vertical-align: top;
					}
				}
			}
			.info{
				display: block;
				overflow: hidden;
				.protitle{
					display: block;
					margin: 6px 0;
					h3{
						height: 32px;
						line-height: 16px;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
					    -webkit-line-clamp: 2;
					    -webkit-box-orient: vertical;
					}
				}
				.pricebox{
					display: block;
					overflow: hidden;
					.price{
						width: 140px;
						>span{
							display: block;
							overflow: hidden;
							line-height: 20px;
						}
					}
					.country{
						display: block;
						overflow: hidden;
						width: 20px;
						height: 20px;
						margin-top: 4px;
						i.icon{
							border-radius: 50%;
							display: block;
							overflow: hidden;
							img{
								width: 100%;
								height: 100%;
								vertical-align: top;
							}
						}
					}
				}
			}
		}
		div:hover.probox,div:active.probox,div.active.probox{
			border: 1px solid #dfb15b;
		}
		.probox-tit{
			isplay: block;
			.bg-bai;
			width: 268px;
			height: 352px;
			.l-left;
			margin-right: 6px;
			box-sizing: border-box;
			overflow: hidden;
			.text-ac;
			img{
				height: 100%;
			}
		}
	}
}
.list-tab{
	display: block;
	position: relative;
	border-bottom: 5px solid #ddd;
	padding-top: 20px;
	height: 50px;
	line-height: 50px;
	z-index: 9;
	.titlepic{
		display: block;
		overflow: hidden;
		width: 274px;
		.l-left;
	}
	.tab-box{
		display: block;
		overflow: hidden;
		position: absolute;
		left: 274px;
		li{
			display: inline-block;
			width: 140px;
			.l-left;
			.text-ac;
			.font16;
		}
		li.active,li:hover,li:active{
			border-bottom: 5px solid #dfb15b;
		}
		li.line{
			display: inline-block;
			height: 20px;
			width: 1px;
			background-color: #ddd;
			margin-top: 15px;
		}
	}
}

/* 商品详情 */
.prosec{
	display: block;
	overflow: hidden;
	padding-top: 34px;
}
.pro-infopic{
	.view .swiper-container1{
		width: 385px;
		height: 385px;
		position: relative;
		border: 1px solid #ddd;
		display: block;
		overflow: hidden;
		.swiper-slide{
			.l-left;
		}
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	// .view .arrow-left {
	// 	background: url(../../Images/slides-arr2.png) no-repeat left top;
	// 	position: absolute;
	// 	left: 10px;
	// 	top: 50%;
	// 	margin-top: -25px;
	// 	width: 28px;
	// 	height: 51px;
	// 	z-index: 10;
	// }
	// .view .arrow-right {
	// 	background: url(../../Images/slides-arr2.png) no-repeat left bottom;
	// 	position: absolute;
	// 	right: 10px;
	// 	top: 50%;
	// 	margin-top: -25px;
	// 	width: 28px;
	// 	height: 51px;
	// 	z-index: 10;
	// }
	.preview {
		width: 385px;
		margin-top: 10px;
		position: relative;
	}
	.preview .swiper-container2{
		width: 338px;
		height: 60px;
		margin-left: 24px;
		position: relative;
		overflow: hidden;
	}
	.preview .swiper-slide {
		width: 60px;
		height: 60px;
		.l-left;
		margin-right: 8px;
		box-sizing: border-box;
		img{
			width: 100%;
			vertical-align: top;
			border: 1px solid #ddd;
			box-sizing: border-box;
		}
	}
	.preview .slide6 {
		width: 60px;
	}
	.preview .arrow-left {
		background: url(../../Images/slides-arr2.png) no-repeat left bottom;
		position: absolute;
		left: 0;
		width: 13px;
		height: 24px;
		z-index: 10;
		margin: 18px 0;
	}
	.preview .arrow-right {
		background: url(../../Images/slides-arr2.png) no-repeat right bottom;
		position: absolute;
		right: 0;
		width: 13px;
		height: 24px;
		z-index: 10;
		margin: 18px 0;
	}
	.preview .active-nav img{
		box-sizing: border-box;
		border-color: #aaa;
	}
}
.pro-infoinner{
	display: block;
	overflow: hidden;
	margin-left: 38px;
	.l-left;
	width: 640px;
	.title{
		display: block;
		overflow: hidden;
		border-bottom: 1px dashed #ddd;
		padding-bottom: 8px;
		h3{
			overflow: hidden;
			height: 54px;
			width: 480px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    .font18;
		    line-height: 27px;
		}
		.country{
			display: block;
			border-left: 1px solid #ddd;
			i.icon{
				.l-left;
				margin: 0 12px 0 28px;
				border-radius: 50%;
				width: 36px;
				height: 36px;
				img{
					width: 100%;
					vertical-align: top;
				}
			}
			>p{
				.l-left;
				.text-ac;
			}
		}
	}
	.priceinfo{
		display: block;
		overflow: hidden;
		border-bottom: 1px dashed #ddd;
		height: 38px;
		padding: 15px 0;
		line-height: 38px;
		.discount{
			display: block;
			border: 1px solid #d09e40;
			.col-gold;
			height: 24px;
			line-height: 24px;
			margin: 7px 24px 0 24px;
			vertical-align: baseline;
			padding: 0 8px;
			.font12;
		}
	}
	.buynum{
		display: block;
		overflow: hidden;
		height: 40px;
		padding: 12px 0;
		>span{
			display: inline-block;
			.l-left;
			line-height: 40px;
		}
		.countnum{
			display: inline-block;
			width: 80px;
			height: 40px;
			margin: 0 12px;
			>input{
				width: 60px;
				height: 40px;
				border: 1px solid #ddd;
				box-sizing: border-box;
				.l-left;
			}
			.numbtn{
				width: 20px;
				height: 60px;
				.l-left;
				>a{
					display: block;
					border-top: 1px solid #ddd;
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					box-sizing: border-box;
					width: 20px;
					height: 20px;
					line-height: 20px;
					.text-ac;
					.col-dhui;
					vertical-align: top;
				}
			}
		}
	}
	.service{
		display: block;
		overflow: hidden;
		li{
			display: block;
			vertical-align: top;
			.serbox{
				display: inline-block;
				border: 1px dashed #ddd;
				margin-left: 12px;
				.col-hui;
				background: url(../../Images/sever_bg.png) top 8px left 8px no-repeat;
				padding: 8px 12px 8px 38px;
			}
		}
		li.approve{
			margin-left: 54px;
			padding: 18px 0;
			>span{
				display: inline-block;
				padding-left: 24px;
				height: 24px;
				line-height: 24px;
				i{
					display: inline-block;
					width: 24px;
					height: 24px;
					.l-left;
					background: url(../../Images/sever_bg.png) top -118px left no-repeat;
				}
				em{
					display: inline-block;
					.l-left;
					.font12;
					.col-hui;
				}
			}
		}
	}
	.btn-box{
		display: block;
		overflow: hidden;
		margin-top: 24px;
		a.buy-btn{
			border-radius: 4px;
			width: 240px;
			height: 50px;
			line-height: 50px;
			.text-ac;
			.font20;
			margin: 0 24px 0 54px;
		}
		a.btn-addcar{
			border-radius: 4px;
			width: 180px;
			height: 50px;
			box-sizing: border-box;
			.font20;
			line-height: 46px;
			.text-ac;
		}
	}
}
.proinfo-inner{
	display: block;
	overflow: hidden;
	border: 1px solid #ddd;
	margin-top: 24px;
	.proinfo-tab{
		display: block;
		height: 37px;
		background-color: #eee;
		border-bottom: 1px solid #E0DEDE;
		li{
			.l-left;
			display: block;
			overflow: hidden;
			cursor: pointer;
			border-top: 2px solid #eee;
			border-bottom: 1px solid #E0DEDE;
			margin-bottom: -1px;
		    height: 28px;
		    padding-top: 7px;
		    >a{
	    	    display: block;
			    height: 24px;
			    line-height: 24px;
			    padding: 0 20px;
			    border-right: 1px solid #E0DEDE;
			    font-size: 14px;
			    color: #515151;
		    }
		}
		li.active{
			border-top: 2px solid #d09e40;
			background-color: #fff;
			border-bottom: 1px solid #fff;
			>a{
				border-right: none;
			}
		}
	}
	.proinfo-content{
		display: block;
		overflow: hidden;
		ul{
			display: none;
		}
		.content-box1{
			padding: 30px 20px;
			.pagecont{
				margin-bottom: 34px;
			}
		}
		.content-box3{
			width: 400px;
			margin: 0 auto;
			.askbox{
				display: block;
				width: 360px;
				padding: 20px;
				margin-bottom: 34px;
				textarea{
					width: 360px;
					height: 100px;
					margin-bottom: 12px;
					border: 1px solid #ddd;
					padding: 8px;
					box-sizing: border-box;
				}
				>a.btn-ask{
					padding: 8px 18px;
					border-radius: 2px;
					.font18;
				}
			}
		}
	}
}
.groom{
	display: block;
	overflow: hidden;
	.groombox{
		display: block;
		overflow: hidden;
		height: 200px;
		width: 216px;
		padding-top: 10px;
		.pic{
			display: block;
			overflow: hidden;
			width: 120px;
			height: 120px;
			margin: 0 auto;
			img{
				width: 100%;
				vertical-align: top;
			}
		}
		a.title{
			display: block;
			overflow: hidden;
			width: 190px;
			padding: 8px 10px;
			.col-dhui;
			.font12;
		}
		a:hover.title{
			.col-gold;
		}
		.price{
			.text-ac;
			.col-red;
			.font12;
			.fontw6;
			padding: 10px;
		}
	}
	.groomline{
		width: 1px;
		margin-top: 15px;
		height: 180px;
		.l-left;
		border-right: 1px dashed #ddd;
	}
}

/* 购买流程 */
.gobuybox{
	display: block;
	overflow: hidden;
	padding-top: 20px;
	.contentbox{
		border: 1px solid #ddd;
		padding: 30px 0;
		h2.title{
			.font24;
			width: 1019px;
			margin: 0 auto;
			padding: 0 15px 10px 15px;
		}
		.buystate{
			width: 1049px;
			display: block;
			overflow: hidden;
			height: 40px;
			margin: 0 auto;
			img{
				width: 100%;
				vertical-align: top;
			}
		}
		.goodmethod{
			display: block;
			overflow: hidden;
			width: 1049px;
			margin: 0 auto;
			h3.intit{
				padding-left: 20px;
				border-bottom: 1px solid #ddd;
				.font18;
				.col-dhui;
				padding-top: 34px;
				padding-bottom: 15px;
			}
			li{
				.l-left;
				margin-left: 20px;
				cursor: pointer;
				margin-top: 24px;
				margin-bottom: 24px;
				.methodbox{
					display: block;
					overflow: hidden;
					padding: 10px 28px;
					background: url(../../Images/payment-item-selected.png) right bottom no-repeat;
					border: 2px solid #ff8903;
					.col-dhui;
				}
			}
		}
		.receiver{
			display: block;
			overflow: hidden;
			width: 1049px;
			margin: 0 auto;
			.tit{
				.font14;
				display: block;
				overflow: hidden;
				border-bottom: 1px dashed #ddd;
				padding-bottom: 12px;
				padding-left: 12px;
				a{
					.col-blue;
					.font12;
					margin-left: 12px;
				}
			}
			.address-list{
				display: block;
				overflow: hidden;
				.col-dhui;
				padding: 12px 0 24px 0;
				.font12;
				>span{
					margin-right: 24px;
				}
				.name{
					.fontw6;
				}
			}
		}
		.receiver-change{
			background: rgba(255,245,204,.25);
			border: solid 3px #dfb15b;
			padding: 7px 17px;
			box-sizing: border-box;
			.address-list{
				input[type="radio"]{
					vertical-align: top;
					margin-top: -1px;
				}
				a:hover{
					.col-gold;
				}
			}
			.addressform{
				display: block;
				overflow: hidden;
				dl{
					display: block;
					overflow: hidden;
					padding: 18px 24px;
					dt{
						.l-left;
						width: 15%;
						.font12;
						line-height: 18px;
						.text-ar;
						margin-right: 12px;
						i.notice{
							.col-red;
							margin-right: 8px;
							font-style: normal;
							line-height: 18px;
							display: inline-block;
						}
					}
					dd{
						.l-left;
						width: 70%;
						input{
							border: 1px solid #ddd;
							margin-bottom: 8px;
							height: 20px;
						}
						select{
							width: 100px;
							border: 1px solid #ddd;
							margin-right: 8px;
							height: 28px;
							line-height: 28px;
						}
					}
				}
				dl:hover{
					background: #FFF5CC;
				}
				.formbtn{
					display: block;
					overflow: hidden;
					margin-bottom: 24px;
					a.btn-address{
						display: inline-block;
						background: #dfb15b;
						.col-bai;
						border-radius: 2px;
						padding: 12px 24px;
						.font12;
					}
					a:hover.btn-address{
						background: #F48200;
					}
				}
			}
		}
		.shoplist{
			display: block;
			overflow: hidden;
			width: 1049px;
			margin: 12px auto;
			p.tit{
				padding-left: 12px;
				.font18;
				border-bottom: 1px solid #ddd;
				padding-bottom: 12px;
			}
			table{
				display: block;
				overflow: hidden;
				width: 1049px;
				tr{
					display: block;
					overflow: hidden;
					width: 1049px;
				}
				.shoplist-tit{
					background-color: #F9F9F9;
					height: 20px;
					line-height: 20px;
					padding: 8px 0;
					display: block;
					overflow: hidden;
					border-bottom: 1px solid #ddd;
					width: 1049px;
				}
				.storename{
					display: block;
					overflow: hidden;
					height: 20px;
					line-height: 20px;
					padding: 8px 20px;
					.font12;
					background-color: #eee;
					border-bottom: 1px solid #ddd;
					width: 1049px;
				}
				.shopgood{
					background-color: #FFFDEE;
					display: block;
					height: 40px;
					padding: 8px 0;
					line-height: 40px;
					overflow: hidden;
					width: 1049px;
					border-bottom: 1px solid #ddd;
					.pic{
						display: block;
						overflow: hidden;
						width: 40px;
						height: 40px;
						.l-left;
						img{
							width: 100%;
							vertical-align: top;
						}
					}
					a.goodtit{
						.l-left;
					}
					a:hover.goodtit{
						.col-gold;
					}
				}
				.paymoney{
					height: 34px;
					line-height: 34px;
					.font12;
				}
			}
		}
		.goodtext{
			display: block;
			overflow: hidden;
			width: 1049px;
			.font12;
			border-bottom: 1px solid #ddd;
			height: 38px;
			line-height: 38px;
			.col-hui;
			textarea{
				margin-top: 8px;
				border: 1px solid #ddd;
			}
		}
		.goodbtnbox{
			display: block;
			overflow: hidden;
			border-top: 1px solid #ddd;
			padding: 12px;
			.good-price{
				display: block;
				overflow: hidden;
				.text-ar;
				height: 34px;
				line-height: 34px;
				select{
					margin: 4px 12px 0 12px;
					height: 28px;
					line-height: 28px;
					border: 1px solid #ddd;
					width: 200px;
					.col-hui;
				}
			}
			.goodpay{
				display: block;
				overflow: hidden;
				.text-ar;
				padding-top: 48px;
				a.btn-order{
					display: inline-block;
					overflow: hidden;
					padding: 20px 48px;
					border-radius: 2px;
					.font14;
					.fontw6;
					vertical-align: top;
					margin-top: -14px;
					margin-left: 12px;
				}
			}
		}
		.gopaystate{
			display: block;
			overflow: hidden;
			width: 450px;
			margin: 0 auto;
			padding: 34px 0;
			.pic{
				display: block;
				.l-left;
				width: 44px;
				height: 44px;
				img{
					width: 100%;
					vertical-align: top;
				}
			}
			.text{
				display: block;
				.l-left;
				margin-left: 18px;
				line-height: 24px;
				.btnbox{
					display: block;
					overflow: hidden;
					margin-top: 8px;
					a{
						display: inline-block;
						.l-left;
						padding: 8px 24px;
						margin-right: 12px;
						border-radius: 2px;
					}
				}
			}
		}
		.gopaymoney{
			display: block;
			overflow: hidden;
			padding: 0 34px;
			.fontw6;
		}
		.gopayway{
			display: block;
			overflow: hidden;
			width: 1049px;
			margin: 0 auto;
			.tit{
				display: block;
				overflow: hidden;
				border-bottom: 1px solid #ddd;
				line-height: 34px;
				padding-left: 12px;
				.font18;
				.col-dhui;
				margin-bottom: 12px;
			}
			li{
				display: block;
				overflow: hidden;
				width: 180px;
				height: 68px;
				.text-ac;
				.l-left;
				border-radius: 4px;
				border: 1px solid #ddd;
				margin-right: 12px;
				position: relative;
				box-sizing: border-box;
				i.ic-using{
					display: inline-block;
					position: absolute;
					z-index: 999;
					top: 2px;
					left: 8px;
					background: url(../../Images/pay-use.png) center center no-repeat;
					width: 32px;
					height: 32px;
				}
				.pic{
					display: block;
					overflow: hidden;
					width: 140px;
					margin: 13px auto;
					height: 42px;
					img{
						height: 100%;
						vertical-align: top;
					}
				}
			}
			li:hover,li:active,li.active{
				border: 2px solid #52A452;
			}
		}
	}
}
.goshopcar{
	display: block;
	overflow: hidden;
	.contentbox{
		display: block;
		width: 540px;
		margin: 200px auto;
		.pic{
			margin-right: 18px;
		}
		.btnbox{
			margin: 0 24px;
			>a{
				border-radius: 4px;
				padding: 8px 12px;
			}
		}
		a.backlink{
			display: inline-block;
			.col-blue;
			text-decoration: underline;
			.font12;
		}
	}
}

/* 购物车 */
.shopcar{
	display: block;
	overflow: hidden;
	padding-top: 24px;
	.title{
		padding-left: 48px;
		.font24;
		.col-hei;
		padding-bottom: 8px;
	}
	.selectbox{
		display: block;
		overflow: hidden;
		border: 1px solid #ddd;
		height: 54px;
		line-height: 54px;
		table{
			width: 100%;
			.font12;
			td{
				line-height: 54px;
				margin-left: 12px;
				input[type="checkbox"]{
					vertical-align: middle;
					margin-left: 30px;
					margin-top: -1px;
				}
				a:hover.operation{
					.col-gold;
				}
				a.btn-submit{
					height: 54px;
					display: inline-block;
					padding: 0 24px;
					.font18;
				}
				span.price{
					display: inline-block;
					line-height: 54px;
					.l-left;
				}
			}
		}
	}
	.contentbox{
		display: block;
		overflow: hidden;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		margin: 12px auto;
		table{
			width: 100%;
			td{
				padding: 12px 0;
				border-bottom: 1px solid #ddd;
				input[type="checkbox"]{
					margin-left: 30px;

				}
				span.propic{
					width: 80px;
					height: 80px;
					display: inline-block;
					border: 1px solid #ddd;
					overflow: hidden;
					.l-left;
					img{
						width: 100%;
					}
				}
				a.proname{
					display: inline-block;
					line-height: 80px;
					.l-left;
				}
				.countnum{
					margin-left: 12px;
					a.countbtn{
						display: inline-block;
						border: 1px solid #ddd;
						height: 24px;
						width: 18px;
						text-align: center;
						line-height: 20px;
						.col-dhui;
						box-sizing: border-box;
						.l-left;
					}
					>input[type="text"]{
						height: 24px;
						width: 48px;
						display: inline-block;
						overflow: hidden;
						vertical-align: top;
						box-sizing: border-box;
						.l-left;
						border: 1px solid #ddd;
						.col-dhui;
					}
				}
				a.operation{
					display: block;
					overflow: hidden;
					width: 100%;
					.font12;
					line-height: 18px;
				}
				a:hover.operation{
					.col-gold;
				}
			}
		}
		.store{
			height: 24px;
			line-height: 24px;
			padding-left: 30px;
			background-color: #efefef;
			.font12;
		}
	}
}

/* 个人中心 */
.userbox{
	display: block;
	overflow: hidden;
	padding-bottom: 24px;
}
.usersub{
	display: block;
	overflow: hidden;
	width: 220px;
	.headbox{
		background-color: #f3f3f3;
		border: 1px solid #ddd;
		margin-bottom: 12px;
		padding: 20px 10px 10px 25px;
		a.picbox{
			display: block;
			overflow: hidden;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			position: relative;
			img{
				width: 100%;
				vertical-align: top;
				position: absolute;
				top: 0;
				z-index: 9;
			}
			.bottomtxt{
				display: none;
				overflow: hidden;
				height: 28px;
				line-height: 28px;
				width: 80px;
				.col-bai;
				.text-ac;
				background: rgba(0, 0, 0, 0.6);
				position: absolute;
				bottom: 0;
				z-index: 99;
				.font12;
			}
		}
		a:hover.picbox{
			.bottomtxt{
				display: block;
			}
		}
		.namebox{
			display: block;
			overflow: hidden;
			.font12;
			line-height: 24px;
		}
	}
	.itembox{
		display: block;
		border: 1px solid #ddd;
		padding: 0 35px;
		.sidebar-item{
			>a{
				display: block;
			    line-height: 34px;
			    height: 34px;
			    position: relative;
			    overflow: hidden;
			    h4{
			    	.font16;
			    	.fontw6;
			    }
				em{
					position: absolute;
				    display: block;
				    border: 1px solid #c9c9c9;
				    height: 8px;
				    width: 14px;
				    background: url(../../Images/user_pics.png) no-repeat;
				    right: 0;
				    top: 12px;
				}
				em.emoff{
					background: url(../../Images/user_pics.png) no-repeat 0 -11px;
				}
			}
			ul{
				display: ;
				.sidebar-itemini{
					height: 28px;
					width: 100%;
					border-bottom: 1px dashed #dedede;
					>a{
						display:block;
						font-size:14px;
						line-height:28px;
						color: #515151;
						overflow: hidden;
					}
					>a.selected,a:hover,a.active{
						background: #FFF0E9;
					}
				}
				.sidebar-itemini:last-child{
					border-bottom: none;
				}
			}
			>a:hover,>a.active{
				h4{
					.col-gold;
				}
			}
		}
	}
}
.userinner{
	display: block;
	width: 860px;
	overflow: hidden;
	float: right;
	.locate-tit{
	    padding: 8px 15px;
	    margin: 0 0 20px;
	    list-style: outside none none;
	    background-color: #F5F5F5;
	    border-radius: 4px;
	    line-height: 38px;
	    >a{
	    	padding: 0 8px;
	    	.font12;
	    }
	}
	.order-search{
		display: block;
		overflow: hidden;
		table{
			color: #999;
		    width: 100%;
		    border-bottom: solid 1px #E6E6E6;
		    td{
		    	text-align: left;
			    padding: 8px 0;
			    font-size: 12px;
			    select.orderstate{
			    	width: 220px;
			    	border: 1px solid #ddd;
			    	color: #aaa;
			    	height: 30px;
			    	box-sizing: border-box;
			    }
		    }
		    .orderdate{
		    	>input{
		    		width: 100px;
		    		height: 30px;
		    		box-sizing: border-box;
		    		border-color: #ddd;
		    	}
		    }
		    .searchinput{
		    	>input{
		    		height: 30px;
			    	width: 160px;
			    	box-sizing: border-box;
			    	border: 1px solid #ddd;
		    	}
		    }
		    label.btnbox{
		    	vertical-align: middle;
			    display: inline-block;
			    margin: 0 2px;
			    border-style: solid;
			    border-width: 1px;
			    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
			    >input[type="submit"]{
			    	color: #333;
				    background-color: #F5F5F5;
				    width: 64px;
				    height: 28px;
				    padding: 0;
				    border: 0;
				    cursor: pointer;
			    }
			    >input[type="submit"]:hover{
		    	    background-color: #E6E6E6;
				    color: #333;
			    }
		    }
		}
	}
	.ordertable{
		display: block;
		overflow: hidden;
		width: 100%;
		table{
			width: 100%;
			td{
				border-color: #ddd;
				background-color: #fff;
			}
		}
		table.title{
			margin-bottom: 12px;
			td{
				color: #999;
			    background-color: #FFF;
			    text-align: center;
			    height: 20px;
			    padding: 8px 0;
			    border-bottom: solid 1px #E7E7E7;
			    .font12;
			}
			.collectbox{
				overflow: hidden;
				td{
					a.propic{
						display: block;
						overflow: hidden;
						width: 40px;
						height: 40px;
						.l-left;
						img{
							width: 100%;
							vertical-align: top;
						}
					}
					a.proname{
						display: inline-block;
						width: 300px;
						.l-left;
						>span{
							display: block;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							.text-al;
							line-height: 24px;
						}
					}
					a.prostore{
						.col-gold;
					}
					a:hover.prostore{
						.col-blue;
					}
					a.btn-delete{
						display: inline-block;
						overflow: hidden;
						width: 48px;
						padding: 4px 0;
						i.icon-trash{
						    display: block;
						    width: 16px;
						    height: 16px;
						    margin-top: 1px;
						    line-height: 24px;
						    padding-bottom: 4px;
						    vertical-align: text-top;
						    background-image: url(../../Images/glyphicons-halflings.png);
						    background-position: -456px 0;
						    background-repeat: no-repeat;
						    margin: 0 auto;
						}
						>span.txt{
							display: block;
							overflow: hidden;
							.col-hei;
						}
					}
					a:hover.btn-delete{
						.bg-gold;
						>span.txt{
							.col-bai;
						}
					}
				}
			}
		}
		table.orderbox{
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-top: 1px solid #ddd;
			margin-bottom: 12px;
			td{
				border-bottom: 1px solid #ddd;
			}
			td.title{
			    padding: 4px 0;
			    line-height: 20px;
			    .font12;
			    span{
			    	margin-right: 30px;
			    	margin-left: 10px;
			    }
			    >a{
			    	.col-blue;
			    }
			    >a:hover{
			    	.col-gold;
			    }
			}
			.listbox{
				td{
					vertical-align: top;
					padding-top: 12px;
					padding-bottom: 12px;
				}
				a.propic{
					display: inline-block;
					overflow: hidden;
					width: 60px;
					height: 60px;
					margin-left: 10px;
					float: left;
					img{
						width: 100%;
						vertical-align: top;
					}
				}
				a.proname{
					display: block;
					width: 260px;
					white-space: nowrap;
					.font12;
					overflow: hidden;
					text-overflow: ellipsis;
					.col-blue;
				}
				a:hover.proname{
					.col-gold;
				}
				td.countmoney{
					>span{
						display: block;
						overflow: hidden;
						line-height: 18px;
					}
				}
				td.ordercheck{
					.text-ac;
					.col-blue;
					.font12;
					line-height: 24px;
					>span{
						display: block;
						overflow: hidden;
					}
					>a{
						display: block;
						overflow: hidden;
					}
				}
			}
			td.orderpaysec{
				height: 28px;
				line-height: 28px;
				padding: 12px;
				>span{
					margin-right: 18px;
				}
				>a{
					display: inline-block;
					overflow: hidden;
					padding: 0 12px;
					.font12;
					margin-left: 12px;
				}
				>a.btn-lgold{
					color: #d09e40;
				    border: 1px solid #d09e40;
				    background: #F5F5F5;
				}
				>a:hover.btn-lgold{
					.bg-bai;
				}
				>a.btn-bgold{
				    border: 1px solid #dfb15b;
				    .col-bai;
				    background-color: #d09e40;
				}
				>a:hover.btn-bgold{
					color: #dfb15b;
					.bg-bai;
				}
			}
		}
	}
	.user-select{
		display: block;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		height: 20px;
		padding: 5px 0;
		.selectall{
			display: inline-block;
			.l-left;
			input[type="checkbox"]{
				margin: 0 4px 0 8px;
				display: inline-block;
				vertical-align: middle;
			}
			>span{
				display: inline-block;
				vertical-align: middle;
				margin-right: 12px;
			}
		}
		a.btn-delete{
		    color: #777;
		    background-color: #F5F5F5;
		    text-align: center;
		    vertical-align: middle;
		    display: inline-block;
		    height: 20px;
		    padding: 0 10px;
		    margin-right: 2px;
		    border-style: solid;
		    border-width: 1px;
		    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
		    cursor: pointer;
		    line-height: 20px;
		    font-size: 12px;
		    i.icon-trash{
	    	    display: inline-block;
			    width: 14px;
			    height: 14px;
			    line-height: 14px;
		        vertical-align: middle;
			    background-image: url(../../Images/glyphicons-halflings.png);
			    background-position: -456px 0;
			    background-repeat: no-repeat;
		    }
		}
		a:hover.btn-delete{
			.col-gold;
			text-decoration: none;
		    background-color: #E6E6E6;
		    border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;
		}
	}
	.notice{
		display: block;
		overflow: hidden;
		padding: 9px 14px;
	    margin: 10px auto;
	    border: 1px solid #FBEED5;
	    text-shadow: 0 1px 0 rgba(255,255,255,.5);
	    h4{
	    	font-size: 16px;
		    font-weight: 700;
		    line-height: 1.5em;
		    margin-bottom: 2px;
	    }
	    ul{
	    	.font12;
	    	li{
	    		display: block;
	    		overflow: hidden;
    		    padding: 6px 0;
	    	}
	    }
	}
	.notice-success{
		color: #468847;
	    background-color: #DFF0D8;
	    border-color: #D6E9C6;
	}
	.userinerform{
		display: block;
		overflow: hidden;
		dl{
			font-size: 0;
		    line-height: 20px;
		    clear: both;
		    padding: 0;
		    margin: 0;
		    border-bottom: dotted 1px #E6E6E6;
		    overflow: hidden;
		    dt,dd{
		    	font-size: 12px;
			    line-height: 32px;
			    vertical-align: top;
			    letter-spacing: normal;
			    word-spacing: normal;
			    text-align: right;
			    display: inline-block;
			    width: 14%;
			    padding: 10px 1% 10px 0;
		    }
		    dt{
		    	i.required{
		    		font: 12px/16px Tahoma;
				    color: #F30;
				    vertical-align: middle;
				    margin-right: 4px;
		    	}
		    }
		    dd{
		    	text-align: left;
			    width: 85%;
			    padding: 10px 0 10px 0;
			    select.auth_type{
			    	display: inline-block;
			    	width: 220px;
		    	    color: #777;
				    background-color: #FFF;
				    height: 30px;
				    vertical-align: middle;
				    padding: 4px;
				    border: solid 1px #CCC;
			    }
			    a.send_auth_code{
			    	color: #777!important;
				    background-color: #F5F5F5;
				    text-align: center;
				    vertical-align: middle;
				    display: inline-block;
				    height: 20px;
				    padding: 4px 12px;
				    border: solid 1px;
				    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
				    cursor: pointer;
				    margin-left: 5px!important;
				    line-height: 20px;
			    }
			    a:hover.send_auth_code{
			    	color: #999!important;
				    background-color: transparent;
				    border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;
			    }
			    p.send_success_tips{
			    	color: #AAA;
			    }
			    input[type="text"]{
				    color: #777;
				    background-color: #FFF;
				    vertical-align: top;
				    display: inline-block;
				    height: 20px;
				    padding: 4px;
				    border: solid 1px #CCC;
				    outline: 0 none;
			        width: 206px;
			    }
			    .codepic{
			    	margin-left: 5px;
			    	vertical-align: middle;
			    }
			    input.btn-change{
			    	display: block;
			    	text-align: center;
				    min-width: 100px;
				    height: 36px;
			        padding: 0 20px 2px 20px;
				    border: 0;
				    .col-bai;
				    background-color: #dfb15b;
			    }
			    .error{
			    	font-size: 12px;
				    color: #E84723;
				    margin-left: 8px;
				    i.icon-exclamation-sign{
			    	    margin-right: 4px;
		    	        display: inline-block;
					    width: 14px;
					    height: 14px;
					    margin-top: 1px;
					    line-height: 14px;
					    vertical-align: text-top;
					    background-image: url(../../Images/glyphicons-halflings.png);
					    background-position: 0 -120px;
					    background-repeat: no-repeat;
				    }
			    }
			    select{
		    	    color: #777;
				    background-color: #FFF;
				    height: 30px;
				    vertical-align: middle;
				    padding: 0 4px;
				    border: solid 1px #CCC;
				    outline: 0;
				    line-height: 30px;
				    width: 80px;
			    }
		    }
		}
		dl:hover{
			dd{
				background-color: #FCFCFC;
				p.send_success_tips{
			    	color: #666;
			    }
			}
		}
	}
	.addressbox{
		display: block;
		overflow: hidden;
		table.address{
			.font12;
		    line-height: 20px;
		    width: 100%;
		    border-collapse: collapse;
			td{
				border-bottom: solid 1px #E7E7E7;
			}
			.title{
				td{
				    color: #999;
				    background-color: #FFF;
				    text-align: center;
				    height: 20px;
				    padding: 8px 0;
				    border-bottom: solid 1px #E7E7E7;
				}
			}
			.info{
				td{
					color: #999;
				    background-color: #FFF;
				    text-align: center;
				    padding: 10px 0;
				    >a{
				    	display: inline-block;
				    	.text-ac;
				    	width: 40px;
				    	i{
				    		font-size: 14px;
						    line-height: 16px;
						    height: 16px;
						    display: block;
						    width: 14px;
						    vertical-align: text-top;
						    background-image: url(../../Images/glyphicons-halflings.png);
						    background-repeat: no-repeat;
						    margin: 0 auto;
				    	}
				    	i.icon-edit{
			    		    background-position: -96px -72px;
				    	}
				    	i.icon-cancel{
			    		    background-position: -456px 0;
				    	}
				    }
				    >a:hover{
				    	.bg-gold;
				    	.col-bai;
				    }
				}
			}
		}
	}
	.couponbox{
		display: block;
		overflow: hidden;
		.tab{
			display: block;
			overflow: hidden;
			width: 100%;
			height: 20px;
		    background-color: #f4f4f4;
	        border-bottom: solid 1px #E7E7E7;
	        li{
	        	display: block;
	        	overflow: hidden;
	        	.l-left;
        	    margin-left: 20px;
			    margin-top: 5px;
			    color: #777;
			    text-align: center;
			    vertical-align: middle;
			    display: inline-block;
			    height: 20px;
			    padding: 0 10px;
			    border-style: solid;
			    border-width: 1px;
			    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
			    cursor: pointer;
	        }
	        li.active{
        	    background-color: white;
			    margin-bottom: -1px;
			    border-bottom: 1px solid white;
	        }
		}
		.coupontable{
			margin-bottom: 12px;
			table{
				width: 100%;
				td{
					color: #999;
				    background-color: #FFF;
				    text-align: center;
				    height: 20px;
				    padding: 8px 0;
				    .font12;
				}
				.title{
					td{
						border-bottom: solid 1px #E7E7E7;
					}
				}
				.info{
					td{
					    border-bottom: dashed 1px #E7E7E7;
					}
				}
			}
		}
	}
	.userhead{
		width: 120px;
		vertical-align: top;
	    display: inline-block;
	    margin-top: 5px;
	    .picbox{
    	    text-align: center;
		    vertical-align: middle;
		    display: table-cell;
		    width: 120px;
		    height: 120px;
		    overflow: hidden;
		    border: 1px solid #ddd;
		    img{
		    	width: auto;
		    	vertical-align: top;
		    }
	    }
	    .btnbox{
	    	display: block;
	    	overflow: hidden;
	    	margin: 10px 0;
	    	.selectfile{
	    		width: 58px;
	    		height: 20px;
	    		display: inline-block;
	    		margin-right: 4px;
	    		position: relative;
	    		border: 1px solid #aaa;
    			border-radius: 2px;
    			box-sizing: border-box;
    			line-height: 20px;
    			background-color: #eee;
	    		a{
	    			display: inline-block;
	    			overflow: hidden;
	    			width: 58px;
	    			height: 20px;
	    			.font12;
	    			.text-ac;
	    		}
	    		input{
	    			opacity: 0;
	    			filter:alpha(opacity=0);
	    			position: absolute;
	    			margin-top: -43px;
	    			width: 100%;
	    			height: 43px;
	    			z-index: 100;cursor: pointer;
	    		}
	    	}
	    	.upload{
	    		width: 58px;
	    		height: 20px;
	    		display: inline-block;
	    		position: relative;
	    		border: 1px solid #aaa;
    			border-radius: 2px;
    			box-sizing: border-box;
    			line-height: 20px;
    			background-color: #eee;
    			a{
    				display: inline-block;
	    			overflow: hidden;
	    			width: 58px;
	    			height: 20px;
	    			.font12;
	    			.text-ac;
    			}
	    	}
	    	ul.filelist{
	    		display: block;
	    		overflow: hidden;
	    		position: relative;
	    		padding: 20px 0!important;
	    		width: 120px;
	    		li{
	    			display: block;
	    			width: 120px;
	    		}
	    	}
	    }
	}
	.editform{
		display: block;
		overflow: hidden;
		width: 720px;
		dl{
			dd{
				span{
					display: inline-block;
				}
			}
		}
		.w400{
			width: 400px;
		}
	}
}
.userpage{
	display: block;
	overflow: hidden;
	margin: 0 auto;
	.text-ac;
	>a{
		display: inline-block;
		color: #AAA;
	    background-color: #FAFAFA;
	    text-align: center;
	    min-width: 20px;
	    padding: 12px 8px;
	    border: 1px solid #ddd;
	}
	>span{
		display: inline-block;
		color: #AAA;
	    background-color: #FAFAFA;
	    text-align: center;
	    min-width: 20px;
	    padding: 12px 8px;
	    border: 1px solid #ddd;
	}
	.active{
		border-color: #d09e40!important;
	    color: #d09e40!important;
	}
	>a.first,>a.last{
		margin: 0 8px;
	}
}
.orderinfo{
	display: block;
	overflow: hidden;
	position: relative;
    z-index: 2;
	.order-detail{
		display: block;
		height: 250px;
		position: relative;
		border: 1px solid #d8d8d8;
		margin-bottom: 24px;
		.order-section{
			display: block;
		    background-color: #FBFBFB;
		    vertical-align: top;
		    letter-spacing: normal;
		    word-spacing: normal;
		    display: inline-block;
		    width: 359px;
		    border-right: solid 1px #D8D8D8;
		    height: 250px;
		    h3.title{
		    	font-size: 12px;
			    font-weight: 600;
			    line-height: 20px;
			    background-color: #F3F3F3;
			    height: 20px;
			    padding: 9px;
			    border-bottom: solid 1px #D8D8D8;
		    }
		    .content{
		    	display: block;
			    width: auto;
			    padding: 17px 17px 7px 17px;
			    dl{
			    	margin-bottom: 10px;
			    	display: block;
			    	dt{
			    		color: #888;
					    width: 20%;
				        font-size: 12px;
					    line-height: 20px;
					    vertical-align: top;
					    letter-spacing: normal;
					    word-spacing: normal;
					    display: inline-block;
					    .l-left;
			    	}
			    	dd{
		    		    font-size: 12px;
					    line-height: 20px;
					    vertical-align: top;
					    letter-spacing: normal;
					    word-spacing: normal;
					    display: inline-block;
					    color: #666;
					    width: 80%;
					    .l-left;
					    >a{
				    	    color: #666;
						    float: right;
						    padding: 0 5px 0 10px;
						    position: relative;
						    z-index: 1;
						    .more{
						    	background-color: #FBFBFB;
							    display: none;
							    width: 323px;
							    padding: 10px;
							    border: solid 1px #CCC;
							    position: absolute;
							    z-index: 1;
							    right: -10px;
							    top: 25px;
							    box-shadow: 2px 2px 0 rgba(153,153,153,.15);
							    .arrow{
							    	    background: url(../../Images/member_pics.png) no-repeat -140px 0;
									    width: 11px;
									    height: 6px;
									    position: absolute;
									    z-index: 2;
									    top: -6px;
									    right: 30px;
							    }
							    li{
							    	line-height: 24px;
								    color: #888;
							    }
						    }
					    }
					    >a:hover{
					    	color: #ff7f0d;
					    	z-index: 2;
					    	.more{
					    		display: block;
					    	}
					    }
			    	}
			    }
			    dl.address,dl.remark{
			    	overflow: hidden;
			    }
			    dl.remark{
			    	border-bottom: 1px solid #ddd;
			    }
			    dl.morebox{
			    	padding-top: 10px;
			    	height: 8px;
			    }
		    }
		}
		.order-condition{
		    background-color: #FFF;
		    vertical-align: top;
		    letter-spacing: normal;
		    word-spacing: normal;
		    display: inline-block;
		    width: 447px;
		    padding: 20px 20px;
		    dl{
			    display: block;
			    padding-bottom: 15px;
			    margin-bottom: 20px;
			    border-bottom: dotted 1px #E7E7E7;
			    .font18;
			    dt{
		    	    color: #333;
				    vertical-align: top;
				    letter-spacing: normal;
				    word-spacing: normal;
				    display: inline-block;
				    .l-left;
				    margin-left: 30px;
				    i.icon-ok-circle{
				    	font-size: 30px;
					    font-weight: 400;
					    vertical-align: middle;
					    margin-right: 10px;
					    display: inline-block;
					    width: 14px;
					    height: 14px;
					    margin-top: 1px;
					    line-height: 14px;
					    background-image: url(../../Images/glyphicons-halflings.png);
				        background-repeat: no-repeat;
				        background-position: -192px -96px;
				    }
			    }
		    }
		    ul{
		    	margin-left: 40px
		    }
		    li{
	    	    display: block;
			    margin-bottom: 10px;
			    line-height: 20px;
			    a{
			    	.font12;
			    }
			    a.btn-pay{
			    	background-color: #dfb15b;
				    border-color: #dfb15b;
				    color: #fff;
			        margin: 0 5px;
			        text-align: center;
				    vertical-align: middle;
				    display: inline-block;
				    height: 20px;
				    padding: 0 10px;
				    cursor: pointer;
				    box-sizing: border-box;
			    }
			    a:hover.btn-pay{
			    	color: #DF8505!important;
			    }
			    a.btn-cancel{
			    	margin: 0 5px;
			    	color: #777;
				    background-color: #F5F5F5;
				    text-align: center;
				    vertical-align: middle;
				    display: inline-block;
				    height: 20px;
				    padding: 0 10px;
				    margin-right: 2px;
				    border-style: solid;
				    border-width: 1px;
				    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
				    cursor: pointer;
				    box-sizing: border-box;
			    }
			    a:hover.btn-cancel{
		    	    text-decoration: none;
				    color: #333;
				    background-color: #E6E6E6;
				    border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;
			        color: #d09e40;
			    }
		    }
		}
	}
	.order-content{
		display: block;
		overflow: hidden;
		table{
			line-height: 20px;
		    width: 100%;
		    border-collapse: collapse;
			.title{
				td{
					color: #999;
				    background-color: #FFF;
				    text-align: center;
				    height: 20px;
				    padding: 8px 0;
				    border-bottom: solid 1px #E7E7E7;
				    .font12;
				}
			}
			.listbox{
				td{
					vertical-align: middle !important;
					a.proname{
						vertical-align: middle;
						margin-top: 20px;
					}
				}
			}
			.table-foot{
				td{
					background-color: #F5F5F5;
				    padding: 10px 0;
				    span{
				    	display: block;
				    	overflow: hidden;
				    }
				}
			}
		}
	}
}
.layer-edit{
	display: block;
	overflow: hidden;
	.address_form{
		display: block;
		overflow: hidden;
		width: 550px;
		dl{
			line-height: 20px;
			dt,dd{
		    	font-size: 12px;
			    line-height: 32px;
			    vertical-align: top;
			    letter-spacing: normal;
			    word-spacing: normal;
			    text-align: right;
			    display: inline-block;
			    width: 19%;
			    padding: 8px 1% 8px 0;
		    }
			dt{
			    i.required{
		    	    color: #F30;
				    vertical-align: middle;
				    margin-right: 4px;
			    }
			}
			dd{
				text-align: left;
			    width: 76%;
			    padding: 10px 0 0 0;
			    input{
			    	color: #777;
				    background-color: #FFF;
				    vertical-align: top;
				    display: inline-block;
				    height: 20px;
				    padding: 4px;
				    border: solid 1px #CCC;
				    outline: 0 none;
			    }
			    select{
			    	color: #777;
				    background-color: #FFF;
				    height: 30px;
				    vertical-align: middle;
				    padding: 4px;
				    border: solid 1px #CCC;
			    }
			    .w300{
			    	width: 300px;
			    }
			    .w200{
			    	width: 200px;
			    }
			}
		}
		.bottom{
			background-color: #F9F9F9;
		    text-align: center;
		    border-top: 1px solid #EAEAEA;
		    margin-top: 12px;
		    .submit-border{
		    	display: inline-block;
		    	overflow: hidden;
	    	    margin: 10px auto;
	    	    input{
	    	    	border: 0;
	    	    	text-align: center;
				    min-width: 100px;
				    height: 36px
	    	    }
		    }
		    .btn-cancel{
		    	display: inline-block;
		    	overflow: hidden;
		    	margin: 9px auto;
			    background-color: transparent;
			    border-radius: 2px;
			    font-size: 14px;
			    vertical-align: top;
			    padding: 8px 19px;
		        border: solid 1px;
			    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
			    cursor: pointer;
			    height: 20px;
			    .text-ac;
			    color: #777;
		    }
		}
	}
}

/* 登录注册 */
.login{
	display: block;
	overflow: hidden;
	height: 480px;
	background: url(../../UploadFile/register-bg.jpg) center center no-repeat;
	.login-container{
		width: 440px;
		margin: 80px auto 0 auto;
		.bg-bai;
		box-sizing: border-box;
		border: 1px solid #ddd;
		padding-top: 20px;
		padding-bottom: 10px;
		.login-header{
			padding-top: 20px;
		    padding-bottom: 10px;
		    .login-title{
		    	font-size: 24px;
			    padding-left: 15px;
			    line-height: 1.5;
			    color: #666;
		    }
		}
		.login-w{
			display: block;
			overflow: hidden;
			padding: 0 20px;
			.login-safe{
				padding-top: 20px;
			    position: relative;
			    a{
			    	color: #08c;
				    text-decoration: underline;
			    }
			    .forget-pw-safe{
			    	position: absolute;
				    right: 0;
				    top: 20px;
				    margin: 0;
				    >a{
			    	    padding-right: 20px;
					    background: url(../../Images/ask.png) right 0 no-repeat;
				    }
			    }
			}
			.login-submit{
				padding: 10px 0 20px;
				>input[type="button"]{
					display: inline;
				    padding: 10px 10px;
				    font-size: 16px;
				    width: 100%;
				    color: #FFF;
				    text-align: center;
				    cursor: pointer;
				    border: none;
				    border-radius: 2px;
				}
			}
			.login-wechat{
				padding-bottom: 30px;
				>a{
					display: inline-block;
					width: 44px;
					height: 44px;
					border: 1px solid #ddd;
				    border-radius: 50%;
				    -webkit-border-radius: 50%;
				    -moz-border-radius: 50%;
				    line-height: 44px;
				    text-align: center;
				    img{
				    	width: auto;
				    	vertical-align: middle;
				    }
				}
			}
		}
		.formlogin{
			display: block;
			overflow: hidden;
			>div{
				display: block;
				overflow: hidden;
				position: relative;
				>label{
					position: absolute;
				    z-index: 3;
				    top: 1px;
				    left: 0;
					width: 46px;
				    height: 44px;
				    background-repeat: no-repeat;
				    border-right: 1px solid #ccc;
				}
				.name-label{
				    background-image: url(../../Images/pwd-icons.png);
				    background-position: 10px center;
				}
				.pwd-label{
					background-image: url(../../Images/pwd-icons.png);
				    background-position: -30px center;
				}
				>input{
					width: 320px;
				    height: 30px;
			        background-color: #fff;
				    border: 1px solid #ccc;
			        display: inline-block;
				    padding: 7px 10px 7px 70px;
				    margin-bottom: 10px;
				    font-size: 14px;
				    line-height: 20px;
				    color: #555;
				    vertical-align: middle;
				}
			}
		}
	}
}
.reg{
	display: block;
	overflow: hidden;
	height: 740px;
	background: url(../../UploadFile/register-bg.jpg) center center no-repeat;
	.reg-container{
		display: block;
		margin: 80px auto 0 auto;
		width: 718px;
		box-sizing: border-box;
		border: 1px solid #ddd;
		padding-top: 20px;
		padding-bottom: 10px;
		.bg-bai;
		.reg-header{
			padding-top: 20px;
		    padding-bottom: 10px;
		    .reg-title{
		    	font-size: 24px;
			    padding-left: 15px;
			    line-height: 1.5;
			    color: #666;
		    }
		}
		.reg-w{
			display: block;
			width: 676px;
		    padding: 0 20px;
		    margin: 0 auto;
		    background-color: #fff;
		    overflow: hidden;
		}
		.reg-process{
			width: 676px;
			display: block;
			overflow: hidden;
			img{
				width: 100%;
				vertical-align: top;
			}
		}
		.reg-error{
			color: red;
		    cursor: default;
		    img{
		    	vertical-align: middle;
		    }
		}
		.register_form{
			.reg-pwd,.reg-tel{
				padding-top: 20px;
				.reg-pwd-l,.reg-tel-l{
					float: left;
				    width: 24.99%;
				    text-align: right;
				    img{
				    	height: auto;
					    max-width: 100%;
					    vertical-align: middle;
					    padding-right: 25px;
				    }
				}
				.reg-pwd-r,.reg-tel-r{
					float: left;
				    width: 74.99%;
				    input[type="text"],input[type="password"]{
				    	display: inline-block;
				    	width: 206px;
					    height: 20px;
					    padding: 7px 10px;
					    margin-bottom: 10px;
					    font-size: 14px;
					    line-height: 20px;
					    color: #555;
					    vertical-align: middle;
					    background-color: #fff;
					    border: 1px solid #ccc;
					    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
					    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
					    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
					    -webkit-transition: border linear .2s,box-shadow linear .2s;
					    -moz-transition: border linear .2s,box-shadow linear .2s;
					    -o-transition: border linear .2s,box-shadow linear .2s;
					    transition: border linear .2s,box-shadow linear .2s;
				    }
				    .btn-getcode{
			    	    display: inline;
		    	        font-size: 16px;
		    	        text-align: center;
			    	    padding: 8px 10px;
					    margin-bottom: 10px;
					    margin-left: 10px;
					    border: none;
				        -webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    box-sizing: border-box;
					    vertical-align: top;
				    }
				    .reg-pwd2{
				    	clear: both;
					    padding-top: 10px;
				    }
				}
				.reg-pwd-msg{
					.on{
						display: inline-block;
					}
					li{
						width: 76px;
					    float: left;
					    text-align: center;
					    color: #fff;
					    line-height: 20px;
					}
					.weak{
						background-color: #ff5757;
					}
					.normal{
						background-color: #ffa657;
					}
					.strong{
					    background-color: #ffd557;
					}
				}
			}
			.solid-line{
			    width: 90%;
			    height: 40px;
			    border-bottom: 1px solid #ccc;
			    margin: 0 auto;
			}
			.reg-pwd{
				padding-top: 40px;

			}
			.reg-protocol{
				padding-top: 40px;
			    padding-left: 24.99%;
			}
			.reg-submit{
				padding-top: 10px;
			    padding-bottom: 40px;
			    padding-left: 24.99%;
			    .registerbtn{
			    	width: 228px;
			    	padding: 8px 10px;
				    margin-bottom: 10px;
				    border: none;
				    border-radius: 2px;
			    }
			}
		}
		.reg-finish{
			display: block;
			overflow: hidden;
			margin: 34px auto;
			width: 300px;
			.pic{
				display: block;
				float: left;
				width: 44px;
				height: 44px;
				overflow: hidden;
				img{
					width: 100%;
					vertical-align: top;
				}
			}
			.text{
				display: block;
				overflow: hidden;
				margin-left: 24px;
				.l-left;
				h3{
					line-height: 48px;
				}
				.btnbox{
					display: block;
					overflow: hidden;
					margin-top: 14px;
					>a{
						display: inline-block;
						border-radius: 4px;
						padding: 8px 12px;
					}
				}
			}
		}
	}
}


/* 文章板块 */
.page-locate{
	display: block;
	overflow: hidden;
	height: 20px;
	padding: 10px 0;
	text-align: left;
	i.icon-home{
		display: inline-block;
	    width: 14px;
	    height: 14px;
	    margin-top: 1px;
	    line-height: 14px;
	    background-image: url(../../Images/glyphicons-halflings.png);
        background-repeat: no-repeat;
        background-position: 0 -24px;
        font-size: 14px;
	    color: #AAA;
	    margin-right: 4px;
	    vertical-align: initial;
	}
	>span{
	    font-size: 12px;
	    line-height: 20px;
	    color: #999;
	    letter-spacing: normal;
	    word-spacing: normal;
	    display: inline-block;
	    height: 20px;
	    zoom: 1;
	}
	a{
		color: #777;
	    display: block;
	}
}
.article{
	display: block;
	overflow: hidden;
	padding-bottom: 34px;
}
.articlebox{
	display: block;
	overflow: hidden;
	.articlesub{
		width: 208px;
		border: solid 1px #D7D7D7;
	    margin-bottom: 10px;
	    h3.title{
	    	background-color: #F5F5F5;
		    height: 36px;
	        margin-bottom: 5px;
            color: #333;
		    height: 20px;
		    padding: 8px 10px;
	    }
	    ul.itembox{
	    	padding: 4px 0;
	    	li{
    		    padding: 4px 9px;
    		    .font12;
		        line-height: 20px;
    		    >a{
		    	    height: 20px;
		    	    color: #666;
    		    }
	    	}
	    	li.active,li:active,li:hover{
    		    background-color: #FFF0E9;
	    	}
	    }
	}
	.articleinner{
		width: 832px;
		background: #FFF;
	    display: block;
	    padding: 19px;
	    border: 1px solid #E6E6E6;
	    margin-bottom: 10px;
	    overflow: hidden;
	    .articletit{
    	    color: #333;
	        padding: 5px 0 20px;
		    margin-bottom: 20px;
		    font-weight: 400;
		    text-align: center;
		    border-bottom: 1px solid #d2d2d2;
		    .font18;
		    .fontw6;
	    }
	    .articleinfo{
	    	display: block;
		    clear: both;
		    padding: 5px;
		    color: #666;
		    .font12;
		    line-height: 20px;
	    }
	}
}