.topnav{
	display: block;
	overflow: hidden;
	height: 34px;
	line-height: 34px;
	.bg-hui;
	border-bottom: 1px solid #dd;
	font-size: 12px;
	span{
		display: inline-block;
		>a{
			padding: 0 10px;
			position: relative;
			i.point{
				position: absolute;
				border-radius: 50%;
				.bg-red;
				.col-bai;
				width: 14px;
				height: 14px;
				line-height: 14px;
				font-style: normal;
				.text-ac;
				right: 1px;
			}
		}
		>a.borderight{
			border-right: 1px solid #ddd;
		}
	}
}
.logobox{
	display: block;
	overflow: hidden;
	.bg-bai;
	height: 94px;
	line-height: 94px;
	img{
		vertical-align: middle;
	}
}
.navbox{
	display: block;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	.bg-hei;
	.col-bai;
	li{
		display: block;
		.l-left;
		width: 150px;
		font-size: 16px;
		text-align: center;
		>a{
			display: inline-block;
			width: 150px;
			overflow: hidden;
			box-sizing: border-box;
			height: 18px;
			vertical-align: middle;
			line-height: 16px;
			position: relative;
		}
		>a:after{
		    content: "";
		    position: absolute;
		    width: 1px;
		    height: 16px;
		    right: 0;
		    background: #999;
		    overflow: hidden;
		}
	}
	li:hover,li:active,li.active{
		.bg-gold;
		a:after{
			display: none;
		}
	}
	li:last-child,li.before{
		a:after{
			display: none;
		}
	}
}